h3{
font-size: 25px !important;
}

.btn-success:hover{
    background-color: rgb(132, 0, 255);
}

canvas{
animation-name: example;
animation-duration: 4s;
animation-iteration-count:infinite ;

}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(71, 0, 138); }
    to{box-shadow: 1px 1px 38px rgb(255, 0, 0);}
}


